---
---

<center> <h1> Transformations & Actions on RDDs </h1> </center>

In the notebook, we will implement different transformations and actions using Python.



### `Transformations` 


We will do the following transformations in this notebook:

* 1. **Map**
* 2. **FlatMap**
* 3. **Filter**
* 4. **Distinct**
* 5. **Union**
* 6. **Intersection**


### `Actions` 


We will do the following Actions in this notebook:

* 1. **Collect**
* 2. **Take**
* 3. **Count**



---


### `IMPORTING THE REQUIRED LIBRARIES`

---

---
---
#### ` Problem Statement`

Suppose there is an orgranization name **`Analytics 20`**. It has 2 different branches, one in **`India`** and another one is in **`Dubai`** We have generated a random data of the employees of this organization. One file **`analytics_20_india.txt`** contains the data of employees of India and another one **`analytics_20_dubai.txt`** that contains the data of employees of Dubai. 

Each line of the both the files contains 3 columns. First one is `Name of the employee`, second one is `Department Name` in which he/she works and last one is `Place Name` to which the employee belongs. Data is as shown below - 

<center><img src="images/rdd_op_dataset.png"></center>

---
---

#### `Reading the file - analytics_20_india.txt`

---

---
##### Once we read the file in the spark, it has been converted into an RDD. 

---
---

#### `Action - collect` 

**collect** action will return the complete output.

---

---
---
#### `Action - take`

**take** action will return the top n (takes an integer as a parameter) results of the query. It the similar to the head funciton of pandas.


---

---
---
#### `Transformation - map`

**map** transformation does the same operation on each of the object. 

We will split each line into a list of words using **map**.

---

---
---
#### `Transformation - distinct`

**distinct** is used to find the unique elements in the RDD.

Find out the list of unique places of origin of the employees in the India branch.

---

---
---

#### `Transformation - filter`

**filter** transformation only returns the elements which satisfies the given condition. 

Find out the data of the people who belong to the **India**.


---

---

Let's find out the data of the people who belongs to **Dubai** and are in **HR** department.

---

---
---

#### `Transformation - flatmap`

* We saw **map** function does a one-to-one transformation. 
> * It transforms each element of a collection into one element of the resulting collection. 

<center><img src ="images/map_transformation.png"></center>

* In the **flatmap** transformation, we will see that instead of multiple lists of each line it will return a single list of output. 
> * Spark **flatMap** function expresses a one-to-many transformation.

Let's see the difference.

---

---
---

#### `Transformation - union`

Use **union** transformation to find out all the places of origin from both branches - India and Dubai.

---

---
---

#### `Transformation - intersection`

Use **intersection** transformation to find out the common places of origin of the employees from both branches - India and Dubai. 

---